.git
.github
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
**/dist
**/.phpunit.cache
backend/auth.json
backend/bootstrap/cache/*
backend/storage/framework/cache/**
backend/storage/framework/sessions/**
backend/storage/framework/views/**
backend/storage/logs/**
backend/storage/**/*.key
backend/tests
backend/phpunit.xml
coverage
docs
k8s
README.md
